/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// Fonts

// stylelint-disable value-keyword-case
$font-family-sans-serif: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif !default;
// stylelint-enable

/*-- scss:rules --*/

// wrap text in sidebar menu
// also constrain max width
#quarto-sidebar .sidebar-menu-container {
    white-space: normal;
    max-width: 300px;
}

// force white background for lightbox figures
.gslide-media {
    background: rgba(255, 255, 255, 1)
}

section ol {
    font-family: $font-family-serif;
}

section ul {
    font-family: $font-family-serif;
}

.table {
    font-family: $font-family-sans-serif;
}

// Mathjax

mjx-container {
    font-size: 100% !important;
}