/*-- css:rules --*/

/* Hack to use shadowing to outline text */

.outline-text {
    text-shadow:
        3px 3px 0px #000,
        -3px 3px 0px #000,
        -3px -3px 0px #000,
        3px -3px 0px #000;
}

/* r-stack */

/* class to remove auto margin from r-stack since it overpads sometimes  */
.reveal .margin-zero.r-stack>* {
    margin: 0;
}

/* Custom container to force images to scale up to container width */
.reveal-cell-embed img {
    min-width: 100%;
    min-height: 100%;
}

/* Captions and Figures */

/*-- Needed for wrapping captions under figures that
are NOT cell embeds --*/
.reveal .slide .quarto-figure figure {
    display: table;
}

/* Set up makeshift captioning for this container */
.reveal-cell-embed {
    text-align: center;
    font-size: 0.7em;
}

figure>figcaption {
    margin-top: 0em;
    text-align: center;
    display: table-caption;
    caption-side: bottom
}

/* remove default margin from figures to make them easier to center */
.reveal .slide .quarto-figure {
    margin-bottom: 0;
}

/* Title */

.reveal h1.title {
    font-size: 1.5em;
    text-align: left;
}

.reveal .quarto-title-block .quarto-title-authors {
    justify-content: left;
    text-align: left;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
    padding: 0;
}

.reveal .date {
    text-align: left;
    font-size: 0.6em;
}

/* Animation */

.dash-flow line {
    animation: dash 2s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: -10;
    }
}